/* This is my fork of Nova. I will update this and fix anything that breaks.
   Credit to DinosParkour for original theme */

:root {
	--text: #fff ;
    --round: 50%;
    --color: hsla(240, 100%, 50%, 0.8);
    --accent: hsla(0, 100%, 50%, 0.9) ;
    --trans2: hsla(0, 0%, 0%, 0.8); 
    --main-color: rgba(0, 0, 255, 0.9) ;
}

@keyframes button	{100%{transform:scale(.90)}50%{transform:scale(1)}} 
@keyframes buttonM	{100%{transform:scale(.80)}50%{transform:scale(1)}} 
@keyframes buttonL	{100%{transform:scale(.70)}50%{transform:scale(1)}} 
.appMount-3VJmYg {background: url(https://i.imgur.com/h0YyOD7.png) center/cover no-repeat;}
#voice-connection,#friends,.friends-header,.friends-table, 
.guilds-wrapper,.headerBar-UHpsPw,.guild-header header,.channels-wrap, 
.private-channels .search-bar,.private-channels,.guild-channels, 
.account,.friend-table-add-header,.chat,.content,.title-wrap:not(.search-bar), 
.messages-wrapper,.messages .divider span,.messages .divider:before,.content, .message-group-blocked, 
.is-local-bot-message,.channel-members-loading, 
.channel-members-loading .heading,.channel-members-loading .member, 
.typing,.container-RYiLUQ,.theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .channel-members,.theme-dark .chat form, 
.channels-3g2vYe,.theme-dark .friends-table, 
.theme-dark .messages-wrapper,.content .flex-spacer, 
.theme-dark .chat>.content,.theme-dark .chat,.channel-members, 
.search .search-bar,.container-iksrDt,.container-3lnMWU,.theme-dark .title-qAcLxz, 
.theme-dark .typing-3eiiL_,.container-2OU7Cz,.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,.theme-dark .lfg-3xoFkI,
.video-3lOWa6,.theme-dark .private-channel-call,
.container-2lgZY8,.channels-Ie2l6A,.container-PNkimc,.container-2Thooq,
.theme-dark .title-3qD0b-,.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,.theme-dark .members-1998pB,.search-results-wrap .results-wrapper {background: transparent !important;}
.theme-dark .card-2WxYqG {background-color: rgba(54, 57, 63, 0.3)!important;}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .typeWindows-15E0Ys {background: rgba(0, 0, 0, 0.18) !important;}
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {background-color: rgba(0,0,0,0.6) !important;}
.messagesPopoutWrap-1MQ1bW .header-ykumBX,
.messagesPopoutWrap-1MQ1bW {background-color: rgba(0, 0, 0, 0.9) !important;}
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {background-color: rgba(0,0,0,0.4) !important;}
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug {
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.4) !important;background: transparent !important;}
.titleBar-AC4pGV::after {
	content:"" ;position:absolute;z-index:-1;
	top:0; left:0; right:0; width:100%; height:22px; 
 	background: rgba(0, 0, 0, 0.33) !important;} 
.backdrop-1wrmKB {opacity: 0 !important}

.header-QKLPzZ .lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgba(0, 0, 0, 0);
    color: #ff0000;border: 1px solid blue;}
.userPopout-3XzG_A {border: 1px solid blue;}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0, 0, 0, 0.2);
    color: hsla(0, 0%, 100%, 1);}
    #autocomplete-popout {border: 1px solid blue;}
    #autocomplete-popout .autocomplete-shadow,.popouttop #autocomplete-popout .autocomplete-arrow-wrapper {display:none}
.quickMessage-2XpSaN {border: 1px solid #0080ff !important;}
.theme-dark .topSectionNormal-2-vo2m,.theme-dark .body-3ND3kc,#autocomplete-popout header,
#autocomplete-popout .autocomplete-scroller,.headerPlaying-j0WQBV,.topSectionPlaying-1J5E4n {background: rgba(0,0,0,0.9) !important;}
.root-SR8cQa{ border: 1px solid red; }
.theme-dark #autocomplete-popout .row.selected {background: rgba(255, 25, 25, 0.2);}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(2, 25, 111, 0.6);}
    
::-webkit-scrollbar {width: 8px !important;}
::-webkit-scrollbar-thumb {border: 1px solid blue !important;background-color: hsla(0, 0%, 0%, 1) !important}
::-webkit-scrollbar-track-piece {background-color: hsla(0, 0%, 0%, 0) !important;border:none !important}

.guilds-wrapper .scroller-wrap ::-webkit-scrollbar-thumb,#autocomplete-popout ::-webkit-scrollbar-track,#autocomplete-popout ::-webkit-scrollbar-thumb {visibility: hidden !important;}

.theme-dark .headerNormal-T_seeN,.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,.need-help-modal.deprecated .header,.need-help-modal.deprecated .form-inner.loading,
.need-help-modal.deprecated .footer,.need-help-modal.deprecated .header input[type=text] {background: rgba(0, 0, 0, 0.8);}
.theme-dark .menu-Sp6bN1 {background: rgba(0, 0, 0, 0.9);}

.theme-dark .activityFeed-28jde9 {background: transparent !important}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {background-color: rgba(0, 0, 0, 0);}
.badge {border-radius:50%}
.guilds-wrapper .guilds .friends-online {color: hsla(0, 100%, 50%, 0.7);font-size: 11px;font-weight: 700;}
.guilds-wrapper .guilds .guild .guild-inner { background: rgba(0, 0, 0, 0.4) !important}
.guilds-wrapper .scroller-wrap {width:auto !important;}
.guild-inner:hover,li.active .guild-inner {background-color: rgba(115,139,215,0.5) !important;}
.guilds-wrapper {width: 80px;}
.guilds-wrapper .guilds .guild.unread:before {background-color: rgba(255,0,0,0.25);}
.guilds-wrapper .guilds .guild.selected:before {background-color: rgba(0, 0, 0, 0);}
.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.unread:before {
    border-radius: 20%;
    width: 60px;height: 55px;
    margin-top: -27px;margin-left: 10px;
    transition: background-color .25s cubic-bezier(0.4,0,1,1);}
.channel-notice {opacity: .95;}
.guild-channels .channel-text.selected:before,
.guild-channels .channel-text.selected:hover:before,
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before,
.private-channels .channel.selected:before,
.private-channels .channel:hover:before {border-left: 5px solid purple;}
.private-channels .channel:hover:before {opacity: .25;}
.search-result,.tab-bar-item:hover {background: rgba(0, 0, 0, 0.2) !important;}

.theme-dark .friends-table .messages .divider:not(.red) span, 
.theme-dark .messages-wrapper .messages .divider:not(.red) span {color: red}
.theme-dark .friends-table .messages .divider:not(.red) div, 
.theme-dark .messages-wrapper .messages .divider:not(.red) div {background: blue}

.theme-dark .private-channels .channel.selected a{
    background: rgba(255, 0, 0, 0.3);}
.private-channels .channel:hover a, .contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO,.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background: rgba(255, 0, 0, 0.2);}
.contentUnreadText-2vNnZc, .contentUnreadVoice-1dijOt {background: rgba(255, 0, 0, 0.2)}

#voice-connection {border-top: none;}
#voice-connection .btn,
.account .btn {
    border: none;
    border-bottom: solid 1px rgba(235,232,218,0.05);
    background-color: rgb(42, 42, 42) !important;
    opacity: .65;}
#voice-connection .btn-group,
.account .btn-group {box-shadow: .75px 1.5px 1px #14171b;border: none;}
.account .username {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;text-shadow: 1.35px .75px 1px black;}
.account {border-top: none;}
.status {border-color: rgba(0,0,0,0.33) !important;}

.popout header,
.slider-bar-fill {background-color: rgb(0, 102, 204);}
.user-popout .user-popout-options .btn {background-color: rgb(0, 102, 204);}
.user-popout .user-popout-options .btn:hover {background-color: rgb(0, 128, 255);}
.user-popout .username {font-size: 16px;}

.tooltip.tooltip-black {background:rgba(0, 0, 0, 0.9);color: #fff;border:none;box-shadow: 0 0 5px 1px rgba(185, 47, 0, 0.9)}
.tooltip.tooltip-black:after {display:none}
.icon-friends {background-color: rgba(0,0,0,0.35) !important}
#friends .tab-bar-item {transition: background .2s ease-out;}
#friends .tab-bar-item:hover {
    transition: background .2s ease-in;
	background-color: rgba(0,0,0,0.25) !important;}
.friends-header {border-bottom-color: rgba(0,0,0,0.25) !important;}
.markup {backface-visibility: hidden;}
.chat .new-messages-bar {background-color: rgba(204,97,61,0.9);}
.chat .new-messages-bar:hover {
    background-color: rgba(204,97,61,1);}
.chat .new-messages-bar button:last-child {color: rgba(255,255,255,0.5);}
.markup .mention {
    background-color: rgba(255,255,255,.1) !important;
    color: #ddd;border-radius: 10%;}
.markup .mention:hover {
    background-color: rgba(255,255,255,.2) !important;
    color: #ddd;border-radius: 10%;}
.message-group a span {color: #5af;text-shadow: 1px 1px 0 #001a33;}
.chat .markup code {background: rgba(0,0,0,0.3) !important;}
.chat .markup pre {
    background: none !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
	max-width: 75% !important;}
.message-group .embed {background-color: rgba(42,42,42,.3);}
.theme-dark .message-group .embed-wrapper .embed-color-pill {background-color: rgba(42,42,42,.66)}
.chat .has-more button,.message-group-blocked-btn,.message-group-blocked.revealed {background-color: rgba(0,0,0,0.3) !important;}
.message-group-blocked,.message-group-blocked.revealed {border: none !important;}
.markup {backface-visibility: unset;}
.guilds-wrapper .guilds-error{background: rgba(0, 0, 0, 0.3)}
.guilds-wrapper .guilds-error::after{
    content: "";text-indent: 0%;background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/97/Crystal_Project_Lock.png);
    background-size: 25px 25px;position: absolute;right: 0;left: 0;bottom: 0;
    width: 50px;height: 50px;background-repeat: no-repeat;background-position: center;}
.guilds-wrapper .guilds-error{text-indent: 100%;white-space: nowrap;overflow: hidden;}
#app-mount > div.tooltips div.tooltip-right.tooltip-red {font-size: 0;max-width: 208px}
#app-mount > div.tooltips div.tooltip-right.tooltip-red strong:before {font-size: 14px;content: "You have servers unavailable due to the online usercap being reached, or discord is having issues.";}
.theme-dark .member-3W1lQa:hover .content-OzHfo4,.theme-dark .option-96V44q.selected-rZcOL- {background-color: rgba(2, 25, 111, 0.6)}
.theme-dark .body-SKIE6r {background-color: rgba(0, 0, 0, 0.2);}
.theme-dark .card-7JP0BX {background-color: rgba(54, 57, 63, 0) !important;color: #ffffff;box-shadow: 0 0 5px 1px rgba(0, 128, 255, 0.9);}
.theme-dark .dockItem-2kQDqg:hover {background-color: rgba(54, 57, 63, 0) !important;color: #ffffff;border: 1px dotted red;}
.theme-dark .header-1RC2Wb {background-color: rgba(25, 26, 27, 0.2);}
.theme-dark .dockItem-2kQDqg:hover {background-color: #202225;}
.badge {background-color: rgba(240, 71, 71, 0.6);border-radius: 40%;color: rgba(0, 0, 0, 0.6);font-size: 13px;font-weight: 600;line-height: 12px;border: 1px solid blue}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: rgba(255, 255, 255, 0.9);text-shadow: 0 0 5px black,0 0 5px black}
.guilds-wrapper .guilds-add {background: rgba(0, 0, 0, 0.3);border: 1px dashed rgba(204,97,61,0.9);color: rgba(0, 128, 255, 0.7);}
.theme-dark .iconForeground-3y9f0B,.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,.theme-dark .option-96V44q .filter-3Y_im- {color:rgba(0, 128, 255, 0.9)}
.theme-dark .searchPopout-1vUlP3 {background-color: rgba(0, 0, 0, 0.8);border: none;box-shadow: 0 0 10px 0 rgba(0, 128, 255, 0.9);}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,.theme-dark .option-96V44q .answer-1n6g43 {color: rgba(204,97,61,0.9);}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {color: rgba(0, 95, 255, 0.9);font-size: 15px;font-weight: 700;text-align: center}
.theme-dark .option-96V44q.selected-rZcOL-:before {background: rgba(255, 0, 0, 0.4) !important}
.theme-dark .search-results-wrap,.theme-dark .search-results-wrap .search-result .search-result-message.hit,
.theme-dark .search-results-wrap .search-header {background: rgba(0, 0, 0, 0.6);box-shadow: 0 0 5px 0 rgba(0, 67, 255, 0.7)}
.theme-dark .inner-zqa7da {background-color: hsla(0, 0%, 0%, 0.5);box-shadow: 0 0 15px 1px rgba(0, 95, 255, 0.8) }
.innerNoAutocomplete-1WpcVO {border-radius: 20px;}
.theme-dark .message-group .comment .markup {color: hsla(0, 0%, 100%, 0.8);font-size: 1rem;line-height: 1em;margin-top: 2px;text-shadow:0 0 5px black,0 0 5px black}
.theme-dark .membersGroup-v9BXpm {color: #008eea;font-size: 15px;font-weight: 600;
    height: 40px;letter-spacing: .04em;line-height: 20px;overflow: hidden;text-align: center; }
.theme-dark .autocomplete-1vrmpx {background-color: rgba(0, 0, 0, 0.8);box-shadow: 0 0 5px 0 rgba(0, 95, 255, 0.8)}
.theme-dark .selectorSelected-1_M1WV {background-color: rgba(255, 0, 0, 0.2);}
.private-channels .channel .channel-name {opacity:0.7;text-shadow: 0 0 5px black,0 0 5x black !important;}
.theme-dark .message-group h2 .timestamp {color: hsla(0, 100%, 50%, 0.6);}
.chat .avatar-large {-webkit-transition: none;transition:none; }
.theme-dark .headerText-2niCs_ {border-top-color: rgba(47,49,54,.6);color: hsla(0, 100%, 50%, 0.6);font-size: 22px;text-shadow: 0 0 5px black,0 0 5px black}


.theme-dark .item-1GzJrl:hover {
    background: hsla(0, 100%, 50%, 0.4);
}
.theme-dark.contextMenu-HLZMGh {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid red;}
.theme-dark .item-1Yvehc:hover {
    background: rgba(0, 0, 255, 0.4);
    color: #fff;
}
.theme-dark .attachment-33OFj0 {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 73, 255, 0.6);}
.name-3M0b8v {padding-left:1px}
.theme-dark .cardPrimary-1Hv-to {
    background: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.9);
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller::-webkit-scrollbar-thumb {border-color: red !important}
.theme-dark .bda-slist li {
    background: rgba(0, 0, 0, 0.6);
    border: none ;
    box-shadow: 0 0 5px 0px rgba(255, 0, 0, 0.9);}
    .theme-dark .bda-slist li:hover { box-shadow: 0 0 5px 1px rgba(7, 0, 255, 0.9);transform: scale(1.02)}
.side-8zPYf6 .item-PXvHYJ,.theme-dark #bd-settings-sidebar .ui-tab-bar-item{line-height:10px}

.theme-dark #bd-settings-sidebar .ui-tab-bar-header,.theme-dark .header-2RyJ0Y,.iconCollapsed-3hFp_8,
 .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H,.nameHovered-1gxhWH {
    color: #ff0000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-align:center
}
#bda-qem button { border: none !important;
    border-left: none !important;
    background: rgba(0, 0, 0, 0.7) !important;
    color:blue;
    font-size:16px;
    font-weight:600}
.emojiPicker-3m1S-j, #bda-qem-twitch-container, #bda-qem-favourite-container {
 background: rgba(0, 0, 0, 0.9) !important;
 border: 1px solid red}

.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 18, 255);
    border-radius: 3px!important;}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {display:none}
.emojiPicker-3m1S-j .category-2U57w6 {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid red;}
.theme-dark #bda-qem {
  border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: rgba(0, 0, 0, 0.6) !important;
    border: 1px solid red !important;
    height: 20px !important;
}

.statusProfile-3ynqtt.status-oxiHuE {
    width:96% !important;height: 96%;right:-2px !important;bottom:-2px;padding:2px;
    border-width: 2px !important;margin: 0;}
.listRow-hutiT_ .status-oxiHuE,.card-7JP0BX .status-oxiHuE {
    width:91% !important;height: 91%;
    border-radius: var(--round);right: -2px !important;	bottom:-2px;padding:2px;
    border-width: 2px !important;margin: 0;}
.autocompleteRow-2OthDa .status-oxiHuE{
    width:82% !important;height: 82%;border-radius: var(--round);
    right: -2px !important;	bottom: -2px;padding: 2px;
    border-width: 2px !important;}
.members-1998pB .content-OzHfo4 .status-2s6iDp,.container-2Thooq .status-2kJpnA,
.members-1998pB .member-3W1lQa.popout-open .status-2s6iDp,.private-channels .status {
    border-radius: var(--round);background-clip: padding-box;
    bottom: -1px;right: -1px;height: 28px !important;width: 28px !important;}
.maskProfile-1ObLFT,.mask-3OgeRz {-webkit-mask: none;mask: none;}
.status-oxiHuE,.statusProfile-3ynqtt.status-oxiHuE {border-radius:var(--round) !important;box-shadow:none;-webkit-box-shadow:none;}
.autocompleteRow-2OthDa .online-2S838R,.listRow-hutiT_ .online-2S838R,.card-7JP0BX .online-2S838R,.statusProfile-3ynqtt.online-2S838R,.private-channels .online-2S838R, .container-2Thooq .online-2S838R,.members-1998pB .content-OzHfo4 .online-2S838R {background-color: transparent;border:2px solid #43b581 !important;}
.autocompleteRow-2OthDa .streaming-2_dnHe,.listRow-hutiT_ .streaming-2_dnHe,.card-7JP0BX .streaming-2_dnHe,.statusProfile-3ynqtt.streaming-2_dnHe,.private-channels .streaming-2_dnHe,.container-2Thooq .streaming-2_dnHe,.members-1998pB .content-OzHfo4 .streaming-2_dnHe {background-color: transparent;border: 2px solid #593695 !important;}
.autocompleteRow-2OthDa .dnd-1_xrcq,.listRow-hutiT_ .dnd-1_xrcq,.card-7JP0BX .dnd-1_xrcq,.statusProfile-3ynqtt.dnd-1_xrcq,.private-channels .dnd-1_xrcq,.container-2Thooq .dnd-1_xrcq,.members-1998pB .content-OzHfo4 .dnd-1_xrcq {background-color: transparent;border:2px solid #f04747 !important;}
.autocompleteRow-2OthDa .idle-3DEnRT,.listRow-hutiT_ .idle-3DEnRT,.card-7JP0BX .idle-3DEnRT,.statusProfile-3ynqtt.idle-3DEnRT,.private-channels .idle-3DEnRT,.container-2Thooq .idle-3DEnRT,.members-1998pB .content-OzHfo4 .idle-3DEnRT {background-color: transparent;border:2px solid #faa61a !important;}
.autocompleteRow-2OthDa .invisible-1kp8Z0,.listRow-hutiT_ .invisible-1kp8Z0,.card-7JP0BX .invisible-1kp8Z0,.statusProfile-3ynqtt.invisible-1kp8Z0,.private-channels .invisible-1kp8Z0,.container-2Thooq .invisible-1kp8Z0,.members-1998pB .content-OzHfo4 .invisible-1kp8Z0{background-color: transparent;border:2px solid #1a36fa !important;}
.autocompleteRow-2OthDa .offline-3qoTek,.listRow-hutiT_ .offline-3qoTek,.card-7JP0BX .offline-3qoTek,.statusProfile-3ynqtt.offline-3qoTek,.private-channels .offline-3qoTek,.container-2Thooq .offline-3qoTek,.members-1998pB .content-OzHfo4 .offline-3qoTek {background-color: transparent;border:2px solid #747f8d !important;}
.container-2Thooq .status-2kJpnA,.statusProfile-3ynqtt.status-oxiHuE {pointer-events: none !important;}
.status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp,.status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {left:-1px !important;background-color: rgba(0, 0, 0, 0.4) !important;right: -0.5px !important;}
.pulsingEllipsisItem-32hhWL {opacity: .9}
.theme-dark .title-3qD0b- .status-oxiHuE,.friends-column-status .status,.titleCall-_b9o8P .status-oxiHuE {position:relative}

#friends .friends-table .friends-row  {
    background: hsla(0, 0%, 0%, 0.5) !important;
    box-shadow: 0px 0px 5px 1px   var(--color) !important;
    border-radius: 5px !important;
    margin: 10px!important;padding: 0 !important;
    height: 130px !important;
    flex-direction: column !important;flex-basis: 300px !important;
    transition: opacity 300ms;
    white-space: nowrap;width: 320px;
    line-height: 0px;font-weight: 700;
    display: inline-block;
    justify-content: center;align-items: center;position:relative}
#friends .friends-table .friends-row:hover {
	background-color:var(--trans2) !important;
	box-shadow: 0px 0px 20px 0px  var(--color) !important}
#friends .friends-table .friends-row:active {
	box-shadow: 0px 0px 20px 0px  var(--color) ;
	animation: button 80ms }
#friends .friends-table .friends-table-body { padding: 0;}
#friends .friends-header .tab-bar .tab-bar-item .badge {
  background: hsla(0, 0%, 0%, 0.4) !important;
  color:  var(--color) !important;
  opacity: 0.7;
  transition: opacity 500ms;}
#friends .friends-table{margin-top: 0px;}
#friends .friends-header .tab-bar .tab-bar-item,
#friends .friends-table .friends-table-header .friends-column,
#friends .friends-table .friends-row .friends-column-name {  color:  var(--accent) !important;}
#friends .friends-table .friends-row .friends-column-status{color: black !important}
#friends .friends-table .friends-row:hover .username {  color:  var(--accent);}
#friends .friends-table .friends-table-header { display: none;}
#friends .friends-table .friends-row .avatar-small {box-shadow: none;}
#friends .friends-table .friends-row+.friends-row {border-top: none !important;}
#friends .friends-table .friends-row .friends-column {position: absolute;backface-visibility: hidden;}
#friends .friends-table .friends-row .friends-column+.friends-column { margin: 0;}
#friends .friends-table .friends-row .friends-column-name .avatar-small {
  top: 15px;  left: 5px;  width: 85px;  height: 85px;
  background-size: 85px 85px;  opacity: 0.8;
  transition: opacity 500ms, transform .2s linear, box-shadow .2s linear;
  transform: scale(0.97) perspective(1px);}
#friends .friends-table .friends-row:hover .friends-column-name .avatar-small {opacity: 1;transform: scale(1) perspective(1px);box-shadow: none}
#friends .friends-table .friends-row .friends-column-name .discord-tag {
  display: block;
  position: absolute;
  top: 25px;left: 115px;
  text-shadow: 1px 1px 1px hsl(0, 0%, 0%);}
#friends .friends-table .friends-row .friends-column-name .discord-tag .discriminator {visibility: visible;}
#friends .friends-table .friends-row .friends-column-status {
  top: 0;  width: 100%;
  justify-content: center;height: 18px;}
#friends .friends-table .friends-row .friends-column-status .online-2S838R,
#friends .friends-table .friends-row .friends-column-status .idle-3DEnRT,
#friends .friends-table .friends-row .friends-column-status .dnd-1_xrcq,
#friends .friends-table .friends-row .friends-column-status .invisible-1kp8Z0,
#friends .friends-table .friends-row .friends-column-status .streaming-2_dnHe,
#friends .friends-table .friends-row .friends-column-status .offline-3qoTek {
  width: 100%;
  left:0;
  height: 20px;
  border-radius: 5px 5px 0 0 !important;
  position: absolute;
  top: 0;
  opacity: 0.7;
  z-index: 0;
  }
#friends .friends-table .friends-row:hover .friends-column-status .status {opacity: 0.9;}
#friends .friends-table .friends-row .friends-column-status .status-text {
  color: hsla(0, 0%, 0%, 0.6);
  font-weight: 800 !important;
  max-width: 90%;
  font-size: 12px;
  line-height: normal;
  transition: color 300ms;
  z-index: 0;}
#friends .friends-table .friends-row:hover .friends-column-status .status-text {color: var(--main-color);opacity: 1}
#friends .friends-table .friends-table-body .friends-row .friends-column-guilds {top: 80px;left: 115px;width: 150px;display: flex !important;}
#friends .friends-table .friends-table-body .friends-row .friends-column-guilds .avatar-small {opacity: 0.8;transition: opacity 500ms;}
#friends .friends-table .friends-table-body .friends-row:hover .friends-column-guilds .avatar-small {opacity: 1;}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {background-color: hsla(0, 0%, 0%, 0.4);}
#friends .friends-table .friends-row .friends-column-guilds a:nth-child(4),#friends .friends-table .friends-row .friends-column-guilds a:nth-child(4) .avatar-small,
#friends .friends-table .friends-row .friends-column-guilds a:nth-child(5),#friends .friends-table .friends-row .friends-column-guilds a:nth-child(5) .avatar-small,
#friends .friends-table .friends-row .friends-column-guilds a:nth-child(n + 6) {display: none;}
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn:before {
  content: "";
  background-color: hsla(0, 0%, 0%, 0.4);
  background-size: 18px 18px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 30px;height: 30px;
  box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
  position: absolute;top: 0;}
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn,
#friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn:hover {border: 0;color: transparent !important;}
#friends .friends-table .friends-row .friends-column-actions {
  top: 45px;  right: 10px;  opacity: 0;
  transition: opacity 400ms;
  visibility: visible;}
#friends .friends-table .friends-row:hover .friends-column-actions {  opacity: 0.8;}
#friends .friends-table .friends-row .friends-column-actions .friends-action {
  width: 24px;  height: 24px;
  transform: translateX(120px);
  transition: transform 400ms, background 400ms;}
#friends .friends-table .friends-row:hover .friends-column-actions .friends-action {  transform: translateX(0px);}
#friends .friends-table .friends-row .friends-column-actions .friends-action:first-child,
#friends .friends-table .friends-row .friends-column-actions .friends-action:nth-child(2) {
  background-color: hsla(0, 0%, 0%, 0.5);
  box-shadow: 0px 0px 10px 0px  var(--color) !important;}
#friends .friends-table .friends-row .friends-suggestion-inner {  padding: 20px;}
#friends .friends-table .friends-row .friends-suggestion-inner .avatar-large {
  border-radius: 5px;
  opacity: 0.6;
  transition: opacity 500ms;}
#friends .friends-table .friends-row:hover .friends-suggestion-inner .avatar-large {  opacity: 0.7;}
#friends .friends-table .friends-row .friends-suggestion-inner .friends-suggestion-info .discord-tag .username {
  color: hsla(0, 0%, 88%, 0.6);
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 500ms;}
#friends .friends-table .friends-row:hover .friends-suggestion-inner .friends-suggestion-info .discord-tag .username {  color: hsla(0, 0%, 88%, 0.7);}
#friends .friends-table .friends-row .friends-suggestion-inner .friends-suggestion-info .discord-tag .discriminator {
  color: hsla(0, 0%, 88%, 0.7);
  visibility: visible;}
#friends .friends-table .friends-row .friends-suggestion-inner~.friends-column-actions {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 0 0;}
#friends .friends-table .friends-row .friends-suggestion-inner~.friends-column-actions .friends-action:nth-child(2) {  margin: 5px 0 0 0;}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {  background-color: hsla(122, 100%, 50%, 0.4);}
#friends .friends-table .friends-row .friends-column-status .status.status-unknown {  border: none;}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {  background-color: hsla(0, 83%, 45%, 0.5) !important;}
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove:hover {background-color: hsl(0, 83%, 45%) !important;}
#friends .friends-table .friends-table-body {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: safe !important;}
.friends-table-body[class*="scroller"] .friends-row {min-width: 20%;}
