//META{"name":"Nova Fork","description":"Explore the galaxy with a chilling theme.","author":"Satoru","version":"1.3","website":"http://discord.gg/fjvwb95"}*//{}

/* This is my fork of Nova. I will update/add to this and fix anything that breaks.
   Credit to DinosParkour for original theme. */
   
@import url(https://rawgit.com/satoru8/NovaFork/master/Nova.css)